{% extends 'admin/base.html.twig' %}

{% block title %}Admin - Rates{% endblock %}

{% block body_content %}
    <h1>Rates</h1>

    <button onclick="location.href='{{ path('admin_rate_new') }}'">New rate</button>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Coefficient</th>
            <th>Available from</th>
            <th>Available to</th>
            <th>Vehicle type</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for rate in rates %}
            {% dump rate %}
            <tr>
                <td>{{ rate.id }}</td>
                <td>{{ rate.coefficient }}</td>
                <td>{{ rate.getAvailableFrom()|date('H:i:s') }}</td>
                <td>{{ rate.getAvailableTo()|date('H:i:s') }}</td>
                <td>{{ rate.getVehicleType().name }}</td>
                <td>
                    <button onclick="location.href='{{ path('admin_rate_edit', {'id': rate.id}) }}'">Edit</button>
                    <form style="display: inline-block" method="post" action="{{ path('admin_rate_delete', {'id': rate.id}) }}" onsubmit="return confirm('Are you sure you want to delete this vehicle rate?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rate.id) }}">
                        <button class="btn">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
