{% extends 'base.html.twig' %}

{% block title %}Current order{% endblock %}

{% block scripts %}
    <script src="/services/map/index.js"></script>
{% endblock %}


{% block stylesheets %}
    <style>
        .form-group {
            margin-top: 20px;
        }

        input, select {
            display: block;
        }

        button {
            padding: 5px 10px;
            background: transparent;
            border: 1px solid #333;
            color: #333;

        }
    </style>

{% endblock %}

{% block body %}
    <div id="new-order-container" class="container">
        <div class="map" id="area-map"></div>
        <div id="content" class="content-container">
            <button onclick="alert('End journey')">End journey</button>
            <a href="{{ path('order_index') }}">back to list</a>
        </div>
    </div>

    <script>
        const container = document.getElementById("content")
        const newOrderContainer = document.getElementById("new-order-container")
        const mapArea = document.getElementById("area-map")

        container.addEventListener("click", () => {
            newOrderContainer.classList.add("active")
        })

        mapArea.addEventListener("click", () => {
            newOrderContainer.classList.remove("active")
        })

        const map = initializeMap('area-map', [{{ order.latCoordinateStart }}, {{ order.lngCoordinateStart }}])

        const startMarker = addMarker(map,{lat: {{ order.latCoordinateStart }}, lng: {{ order.lngCoordinateStart }}})

        const endMarker = addMarker(map,{lat: {{ order.latCoordinateDestination }}, lng: {{ order.lngCoordinateDestination }}})


    </script>
{% endblock %}
