{% extends 'base.html.twig' %}

{% block title %}Current order{% endblock %}

{% block scripts %}
    <script src="/services/map/mapManagement.js"></script>
    <script src="/services/location/index.js"></script>
    <script src="/services/notification.js"></script>
{% endblock %}


{% block stylesheets %}
    <style>

        .map {
            height: 100vh;
        }

        .actions a {
            padding: 10px 20px;
            display: block;
            text-decoration: none;
            background: rgba(0, 0, 0, 0.5);
            border: 1px solid #444;
            color: white;
            text-align: center;

        }

        .actions a:hover {
            background: rgba(0, 0, 0, 0.6);
        }


        .actions {
            position: absolute;
            z-index: 1000;
            top: 20px;
            right: 20px;
        }

        .actions a + a {
            margin-top: 10px;
        }
    </style>

{% endblock %}

{% block body %}
<div id="order-view" class="container">
    <div class="map" id="area-map"></div>
    <div class="actions">
        {% if is_granted('ROLE_DRIVER') == true %}
            <a href="{{ path('order_finish', {'id': order.id}) }}">End order</a>
            <a href="tel:{{ order.user.phoneNumber }}">Contact user</a>
        {% endif %}
        {% if is_granted('ROLE_USER') == true %}
            {% if order.driver %}
                <a href="">Rate driver</a>
                <a href="tel:{{ order.driver.user.phoneNumber }}">Contact driver</a>
            {% endif %}
            <a href="{{ path('order_cancel', {'id': order.id}) }}">Cancel order</a>
        {% endif %}
    </div>

    <script>


        const onReceiveConfirmation = (res) => {
            showNotification(res.status, 'success')
        };


        subscribeToTopic('order/{{ order.id}}', onReceiveConfirmation)



        const map = initializeMap('area-map', [{{ order.latCoordinateStart }}, {{ order.lngCoordinateStart }}])

        const startMarker = addMarker(map, {
            lat: {{ order.latCoordinateStart }},
            lng: {{ order.lngCoordinateStart }}}, 'user')

        const endMarker = addMarker(map, {
            lat: {{ order.latCoordinateDestination }},
            lng: {{ order.lngCoordinateDestination }}}, 'thumbtack')


    </script>
    {% endblock %}
